<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p *ngIf="errorMessage">{{errorMessage}}</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <img src={{thumbNail}} alt={{title}}>
        </div>
        <div class="col-xs-12 col-md-9">
            <h4 class="category__title">CATEGORY</h4>
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <div class="border-top">
                <div class="tag-section">
                    <i class="fa fa-tag tag-section__display" aria-hidden="true"></i>
                    <div class="tag-section__display" *ngIf="checkTags">
                        <p class="tag-section__item" *ngFor="let tag of separateTags"> {{tag}}</p>
                    </div>
                    <p *ngIf="!checkTags"> No tags available.</p>
                </div>
            </div>
            <div class="border-top">
                <p><i class="fa fa-play" aria-hidden="true"></i> Play Video</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="secondary__row">
            <div class="col-xs-12 col-md-3">
                <h4>Ingredients</h4>
                <ul *ngFor="let data of ingrediantArr">
                    <li>{{data}}</li>
                </ul>
            </div>
            <div class="col-xs-12 col-md-9">
                <h4>Instructions</h4>
                <ol *ngFor="let instructions of instructionsArr">
                    <li *ngFor="let data of instructions">{{data}}</li>
                </ol>
            </div>
        </div>
    </div>
</div>